.resultEntry {
    height: 220px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    margin: 0px;
}

.resultContainer {
    margin: 42px 0px 0px 0px;
    padding: 0px;
}

.resultImage {
    float: left;
    height: 220px;
    width: 220px;
    margin-right: 50px;
}

.resultBody {
    color: white;
    font-size: 30px;
}