html, body{
    background: #102131;
}
.slider{
    width:150px;
    margin:20px auto;
    text-align: center;
    padding:20px;
    color:white;
    display:inline-block;
    background: fade(#ebebeb, 10%);
    height:150px;
}
/* .slide{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */
    
    img{display: block;margin:auto 15%;}
